body {
    font-family: "gotham";
    background-color: rgb(231, 231, 231);
    width: 100%;
}



.nav-wrapper {
    background-color: dodgerblue;
}

.card-title {
    background-color: dodgerblue;
    padding: 5px !important;
    border-radius: 50px;
    margin: 8px;
    font-size: 16px !important;
}

.card {
    width: 30%;
    margin: 1%;
    display: block;
    float: left;
    height: 2% !important;
}

.latest-news {
    width: 90%;
    margin: 10px auto;
}

h3 {
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 15px;
    text-align: center;
}

#p-header {
    text-align: center;
}

h4 {
    font-weight: 700;

}

.box {
    background-image: url(./Assets/media-banner.jpg);
    display: block;
    align-content: center;
    background-color: white;
    box-shadow: 2px 2px 8px black;
    padding: 15px;
    height: 400px !important;
    margin: 0 auto;
}

/* KEEP THIS BEFORE .display ALWAYS */
.dropdown-trigger {
    display: block;
    background-color: dodgerblue;
    margin-top: 25px;
    width: 20%;
}
/* KEEP THIS AFTER .dropdown-trigger ALWAYS*/
.no-display {
    display: none;
}

.btn {
    margin: 25px auto;
    width: 60%;
}

#submit-btn {
    padding: 10px;
    display: block;
    background-color: rgb(59, 59, 224);
    border-radius: 25px;
    margin: 0 auto;
    width: 10%;
    color: white;
}